.star-rating{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4px;
}

.star-rating input{
    display: none;
}

.star-rating label{
    font-size: 2rem;
    color: gray;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.star-rating input:checked ~ label, .star-rating input:hover ~label{
    color: yellow;
}

